.guided-tours-tooltip {

}

.guided-tours-tooltip-fixed {
  position: fixed;
}

.guided-tours-progress-bar {
  border: 1px solid #aaa;
  background: #ddd;
  border-radius: 5px;
  color: #000;
  float: right;
  height: 5px;
  margin: 0 -20px 0 0;
  width: 50px;
}

.guided-tours-progress-bar div {
  background: #f00;
  color: #fff;
  left: 0;
  height: 100%;
  top: 0;
}

.guided-tours-progress-bar .guided-tours-completed {
  background: #0a0;
  color: #fff;
}